
# Log file
*.log

# Package Files #
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.tgz
*.rar
*.jar

# Package lock json
package-lock.json

# no uv.lock files for libraries
uv.lock

# node modules
node_modules/

docs/site
dist/
target/
.idea/
*.iml
.venv/
__pycache__/
.python-version
.vscode/

# claude code items
settings.local.json

# don't store downloaded modules
*.pt

