apiVersion: v1
kind: Service
metadata:
  name: {{ app_name }}
  labels:
    app: {{ app_name }}
spec:
  type: ClusterIP
  ports:
    - name: http
      port: {{ http_port }}
      targetPort: http
      protocol: TCP
    - name: grpc
      port: {{ grpc_port }}
      targetPort: grpc
      protocol: TCP
  selector:
    app: {{ app_name }}
